In [5]:
import numpy as np, pandas as pd
import matplotlib.pyplot as plt, seaborn as sns

from sklearn.model_selection import train_test_split

# Basic process

1. 문제 정의
2. 데이터 입력 : train/valid/test split
3. EDA : 크기 확인/모양 보기/자료형 확인/기초통계 확인/결측치 확인/이상치 확인 
4. 데이터 전처리 : 결측치, 이상치, 인코딩, 스케일링
5. 모델 학습
6. 모델 평가 : '문제 정의'에서 제시된 목적에 맞춰 평가할 것!

# 문제 정의

특히, 비즈니스 문제에서 이것이 매우 중요하다. 문제의 배경, 요구 사항 파악, 분석 범위 설정 등을 통해 진행한다.

# 데이터 입력

데이터를 입력하고, train/test/validation split 등을 수행한다.

In [4]:
df = pd.read_csv('iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
Xtmp, Xte, ytmp, yte =  train_test_split(df, )